body { 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    background: #f4f4f9;
}

.container { 
    display: flex; 
    justify-content: center; 
    height: 100vh; 
    flex-direction: column;
}

.header, .footer {
    text-align: center;
    padding: 20px;
    background: #E37383;
    color: white;
}

.middle { 
    flex-grow: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.quiz-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
}

.question {
    margin-bottom: 25px;
}

input[type=submit] {
    padding: 10px 30px;
    background-color: #00b4d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #0077b6;
}

input[type='radio'] {
    margin-right: 30px;
}
